<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UAT</key>
	<dict>
		<key>isDebugingEnable</key>
		<false/>
		<key>baseURL</key>
		<string>http://103.93.44.141/1919/UAT</string>
	</dict>
	<key>DEV</key>
	<dict>
		<key>isDebugingEnable</key>
		<true/>
		<key>baseURL</key>
		<string>http://103.93.44.141/1919/DEV</string>
	</dict>
	<key>PROD</key>
	<dict>
		<key>isDebugingEnable</key>
		<false/>
		<key>baseURL</key>
		<string>http://103.93.44.141/1919/PROD</string>
	</dict>
</dict>
</plist>
